

@keyframes gradientMove {

  0% { background-position: 0% }
  100% { background-position: 200% }
}

.animate-gradient {
  background-size: 200% auto;
  animation: gradientMove 3s linear infinite;
}
.glow-text {
  color: white;
  transition: all 0.3s ease;
}

.glow-text:hover {
  color: #ffd700;
  text-shadow: 0 0 5px #ffd700,
               0 0 10px #ffd700,
               0 0 20px #ffd700;
}
/* FIX react-slick overflow + flex issues */
.slick-slider {
  width: 100%;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: auto;
}

.slick-slide > div {
  height: 100%;
}
html, body {
  overflow-x: hidden;
}

/* FIX react-slick mobile issues */
.slick-slider {
  width: 100%;
}

.slick-list {
  overflow: hidden !important;
}

.slick-track {
  display: flex !important;
  align-items: stretch;
}

.slick-slide {
  height: auto;
}

.slick-slide > div {
  height: 100%;
}